@charset "utf-8";
img {
	border-style: none;
}

a {
	color: #F60;
	text-decoration: none;
	font-weight: bold;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #960;
	text-decoration: none;
}

body {
	background-image:url(/images/background.png);
}

input {
	height:10px;
	font-size:9px;
	color:#C90;
	background:#EB0;
	border:1px solid;
}

.MainContainer {
	margin-top:50px;
	margin-bottom:30px;
	height:530px;
	padding: 10px;
	vertical-align: middle;
	background-image: url(/images/logo_background.png);
	width: 1000px;
	border: 2px solid #FF0;
}

.Header {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	color:#fff;
	text-align:center;
	height:30px;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#FC0;
	width:100%;
	vertical-align:bottom;
}

.Footer {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	color:#666;
	text-align:center;
	height:20px;
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:#999;
	width:100%;
	vertical-align:bottom;
}
