@charset "utf-8";
img {
	border-style: none;
}

a {
	color: #F60;
	text-decoration: none;
	font-weight: bold;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #960;
	text-decoration: none;
	margin:0px;
}

h1 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#F60;
	margin:5px;
	text-decoration:none;
}

h2 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#E60;
	margin:2px;
	text-decoration:none;
}

h3 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#D82;
	margin:1px;
	text-decoration:none;
}

h4 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#C93;
	margin:0px;
	text-decoration:none;
}

body {
	background-image:url(/images/background.png);
}

input {
	height:10px;
	font-size:9px;
	color:#C90;
	background:#EB0;
	border:1px solid;
}

.MainContainer {
	margin-bottom:30px;
	height:500px;
	padding: 0px;
	vertical-align: middle;
	background-image: url(/images/logo_background.png);
	width: 1000px;
	border: 2px solid #500;
}

.LocationHeading {
	margin-top:50px;
	height:30px;
	width: 1000px;
	background-color:#F90;
	border: 2px solid #500;
	border-bottom:0px;
}

.Header {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	color:#fff;
	text-align:center;
	height:30px;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#FC0;
	width:100%;
	vertical-align:bottom;
	z-index:1;
}

.Footer {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	color:#666;
	text-align:center;
	height:20px;
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:#999;
	width:100%;
	vertical-align:bottom;
	z-index:1;
}

.leftpanel {
	left:-350px;
	top:0px;
	position:relative;
	height:500px;
	background-image:url(/images/leftpanel_background.png);
	width:298px;
	border-right: 2px solid #500;
}

.leftpanel_box {
	width:220px;
	border: 1px solid #222;
	margin:0px;
	padding:0px;
}

.leftpanel_text {
	color:#330;
}

.MainWindow {
	position: relative;
	left: 150px;
	top: -500px;
	width: 700px;
	height: 500px;
	border: 1px solid #500;
	margin: 0px;
	padding: 0px;
}
